*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans'
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.89);
    z-index: 1;
}

.container_header {
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_img {
    width: 100px;
    height: 60px;
}

.header_img img {
    width: 50px;
}

.links {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: 0.5s;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 14px;
    z-index: 1;
}

.links:hover > :not(:hover){
    color: white;
    opacity: 0.5;
}


.linha {
    background-color: rgb(177, 177, 177);
    width: 1px;
    height: 30px
}

@media screen and (max-width: 650px) {
    .header_img{
        display: none;
    }
}