.topicos {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container_topicos {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* card */
.topico {
    width: 230px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.5s;
    background-size: contain;
    box-shadow: 0px 0px 2px rgba(82, 82, 82, 0.646);
    position: relative;
}

.topico img {
    width: 100%;
    height: 100%;

}

.topico a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


.conteudo_caixa {
    width: 100%;
    height: 60px;
    display: flex;  
    align-items: center;
    justify-content: left;
    text-align: left;
    position: absolute;
    color: rgba(255, 255, 255, 0.838);
    font-size: 18px;
    background-color: rgb(39, 39, 39);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.conteudo_caixa p {
    margin-left: 10px;
}

.topico:hover {
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
}

.topico:hover .conteudo_caixa {
    opacity: 1;
}

@media screen and (max-width: 850px) {
    .topicos {
        height: auto;
        flex-wrap: wrap;

    }
    .container_topicos {
        width: 100%;
        height: 900px;
        
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 450px) {
    .topicos {
        width: 100%;
        height: 900px;
    }

    .container_topicos{
        width: 300px;
        height: 500px   ;
    }
    
    .topico{
        width: 100%;
        margin-bottom: 10px ;
    }
}


